<section class="bottom-nav">
    <button class="leftBtn dark-grey text-left" {{ action "goTo_back" }}>{{leftBottomBtnLabel}}</button>
    <button class="rightBtn dark-grey text-right" {{ action "goTo_next" }}>{{rightBottomBtnLabel}}</button>
</section>