<section id="footer">
    <p class="drink-warning">ENJOY J&Auml;GERMEISTER RESPONSIBLY</p>
    <div class="legal">
        <a href="#">TERMS OF USE</a>
        <a href="#">PRIVACY POLICY</a>
    </div>
</section>