<section id="nav-bar">
    {{#if leftBtn}}
        {{#view JagerBondsApp.BackActionView}}
            <span class="left-btn"></span>
        {{/view}}
    {{/if}}

    {{#if logoTitle}}
        <img class="title logo" {{bind-attr src="logoUrl"}}>
    {{else}}
        <h1 class="title">{{ title }}</h1>
    {{/if}}

    {{#if rightBtn}}
        <span class="right-btn" {{ action "rightBtnClick" }}></span>
    {{/if}}
</section>