<section class="content">
    <label>Title your legendary night</label>
    <input type="text" val="Bond Name" />
    <label>TThe night will last: {{numOfHours}}</label>

    <p>Every night out needs a soundtrack</p>

    <ul>
        <li>SONG NAME <span>ARTIST</span></li>
        <li>SONG NAME <span>ARTIST</span></li>
        <li>SONG NAME <span>ARTIST</span></li>
        <li>SONG NAME <span>ARTIST</span></li>
        <li>SONG NAME <span>ARTIST</span></li>
    </ul>
</section>

{{ partial "bottom-nav" }}