<section class="content">
    <section id="create" class="scrollpane">

        <div class="bond-name">
            <h3>Give it a name to remember</h3>
            <span class="nameField">
                <!--<input value="BOND NAME" type="text" style="text-transform:uppercase;" maxlength="16" onfocus="if(this.value == 'BOND NAME') { this.value = ''; }" onfocusout="if(this.value == '') { this.value = 'BOND NAME'; }"/>-->
                <input value="" type="text" maxlength="20" placeholder="BOND NAME" onkeyup="JagerBondsApp.NewBond.bondName = this.value;" onfocusout="JagerBondsApp.NewBond.bondName = this.value;" />
            </span>
        </div>
        <br><br>
        <div class="bond-duration">
            <h3>Make it last: <span id="duration-txt">6 HRS</span></h3>
            <div class="slider_bg"></div>
            <div class="slider"></div>
            <div class="markers">
                <p class="hourMarker">1 HR</p>
                <p class="hourMarker">6 HRS</p>
                <p class="hourMarker">12 HRS</p>
            </div>
        </div>

        <div class="bond-soundtrack">
            <h3>Every night needs a soundtrack</h3>
            <div class="songList">
                <ul>
                  {{#each}}
                    <li class="soundtrackListItem">
                        <div class="playPauseBtn isNotPlaying" {{ action 'playPauseSong' id controller }}></div>
                        <p style="text-transform:uppercase;">{{ title }}</p>
                        <p style="text-transform:uppercase;">{{ artist }}</p>
                        <div class="selectSongCheckBtn"></div>
                        <div class="hitArea" {{ action 'selectSoundtrack' id controller }}></div>
                     </li>
                  {{/each}}
                  <audio id="soundtrackPlayer"></audio>
                </ul>

            </div>
        </div>

    </section>
</section>