<!-- DASHBOARD -->
<section id="creating-bond" class="scrollpane">
    <h1 style="top: 100px; position: relative; text-align: right; width: 190px; float: right; margin-right: 16px;">EVERY CLASSIC NIGHT STARTS WITH A <span style="font-size: 2.2em; line-height: .9em;">QUALITY OPENER</span></h1>

    {{#if bondCreated}}
        <div class="fixed-bottom">
            <h2>ALL SET. GO MAKE THE NIGHT.<br> YOUR PHOTOS AND VIDEOS WILL MAKE THE BOND.</h2>

            <button class="orange span6" {{action "goTo_dash" controller}}>HOME</button>
            <button class="orange span6" {{action "goTo_detail" bondId}}>BOND DETAIL</button>
        </div>
    {{else}}
        GETTING THE WORD OUT (CREATING BOND)...
    {{/if}}
</section>
