<section id="enter-code" class="content">
    <div class="view-padding">
        <h2>Your night’s about to kick-off. Enter the code.</h2>
        <input value="" type="text" maxlength="5" placeholder="5-DIGIT CODE" />
        <img class="errorIcon" src="../img/icons/error.png" />
        <h2 class="errorMessage">Fail. Wrong code, try again.</h2>
        <button class="orange" {{action 'enterCode' controller}}>
            JOIN THE BOND
        </button>
    </div>
</section>
