<section class="content">
    <section id="add-friends" class="scrollpane">

        <div class="fb-network-slider">
            <ul>
                <li>{{#link-to "friendlists" class="active"}}All{{/link-to}}</li>
                {{#each friendlist in controller}}
                    {{#if friendlist.members}}
                        <li>{{#link-to "friendlist" friendlist}}{{friendlist.name}}{{/link-to}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>

        <div class="search">
            <input id="tags" type="text" name="q" value="" placeholder="Search Friends">
            <h2 id="count"></h2>
        </div>
        <p id="none" style="display:none">There were no names to match your search!</p>

        {{ outlet name="friendlist" }}
    </section>
</section>