<section class="content sign-in">
    <div class="view-padding">
        <h1>CREATE TOMORROW'S<br> LEGENDS TONIGHT</h1>

        <h2>CONNECT YOUR SOCIAL NETWORKS</h2>
        <h2>INVITE YOUR FRIENDS</h2>
        <h2>TURN YOUR NIGHT OUT INTO A VIDEO</h2>

        <button class="fb-connect-btn" {{action 'login'}}>
            SIGN IN WITH FACEBOOK
        </button>

        <h1>{{uid}}</h1>
        <h1>{{accessToken}}</h1>
     </div>
</section>
