@font-face
{
    font-family: 'solano-gothic-bd';
    src: url(fonts/Solano/SolanoGothicMVB-Bd.otf) format('otf'),
         url(fonts/Solano/SolanoGothicMVB-Bd.woff) format('woff'),
         url(fonts/Solano/SolanoGothicMVB-Bd.ttf) format('truetype'),
         url(fonts/Solano/SolanoGothicMVB-Bd.svg) format('svg');
    font-weight:bold;
}

button {
    width: 60%;
    font-size: 7em;
    margin: 0;
    display: inline-block;
    border: none;
    font-weight: bolder;
    font-family: solano-gothic-bd, arial, sans-serif;
    line-height: 0;
    padding: 25px 10px;
}

button.grey                     { background: #ccc; }
button.red                      { background: #F34A0F; }
button.red.span6                { width: 48%; display: inline-block; margin-right: 3%; }
button.fb-connect-btn           { background: #3c5a98; color: #fff; font-size: 4em; width: 100%; }
button.span6:last-child         { margin: 0; }
button .icon                    { margin-right: 10px; }

button.createBond .icon         { width: 29px; height: 36px; display: inline-block; background: #F34A0F url('../img/icons/create.png') no-repeat 0 0; }
button.enterCode .icon          { width: 29px; height: 36px; display: inline-block; background: #F34A0F url('../img/icons/lock.png') no-repeat 0 0; }


.dev-btns                       { position: relative; display: block; }


#nav-bar                        { width: 100%; position: fixed; top: 0; z-index: 1030; box-sizing: border-box; left: 0; padding: 40px 20px 20px; background: rgba(0,0,0,.85); border-bottom: 1px solid #F34A0F; color: #F34A0F; font-size: 1.3em; }
.left-btn                       { width: 43px; height: 43px; position: absolute; left: 20px; background: url('../img/icons/home.png') no-repeat 0 0; }
.right-btn                      { width: 43px; height: 43px; position: absolute; right: 20px; background: url('../img/icons/settings.png') no-repeat 0 0;  }