/* -----------------------------------------------
// FONTS
// ---------------------------------------------*/
@font-face {
    font-family: 'solano-gothic-bd';
    src: url(../fonts/Solano/SolanoGothicMVB-Bd.otf) format('otf'),
         url(../fonts/Solano/SolanoGothicMVB-Bd.woff) format('woff'),
         url(../fonts/Solano/SolanoGothicMVB-Bd.ttf) format('truetype'),
         url(../fonts/Solano/SolanoGothicMVB-Bd.svg) format('svg');
    font-weight:bold;
}





/* -----------------------------------------------
// BUTTONS
// ---------------------------------------------*/
button {
    width: 100%;
    font-size: 3em;
    margin: 0;
    display: inline-block;
    border: none;
    font-weight: bolder;
    font-family: solano-gothic-bd, arial, sans-serif;
    line-height: 0;
    padding: 20px 10px;
}

button.grey                     { background: #ccc; }
button.dark-grey                { background: #262626; color: #FF4600; }

button.orange                   { background: #FF4600; }
button.orange:active            { background: #C00600; }
button.orange.span6             { width: 48%; display: inline-block; margin-right: 3%; }
button.fb-connect-btn           { background: #3c5a98; color: #fff; font-size: 4em; width: 100%; margin: 20px 0; padding: 0; text-align: left; }
button.fb-connect-btn:active    { background: #24376C; }
button.fb-connect-btn span      { display: inline-block; vertical-align: middle; text-align: center; box-sizing: border-box; }
button.fb-connect-btn span.text { border-left: 5px solid rgba(255,255,255,.3); width: 77%; line-height: normal; }
button.fb-connect-btn p         { padding: 15px 0 10px; }
.facebook-logo                  { background: url('../img/icons/facebook-f.png') no-repeat center center; width: 20%; height: 50px; padding: 10px 12px; }


button.span6:last-child         { margin: 0; }
button .icon                    { margin-right: 10px; display: none; }

button.createBond .icon         { width: 18px; height: 18px; display: inline-block; background: url('../img/icons/create.png') no-repeat 0 0; }
button.enterCode .icon          { width: 18px; height: 18px; display: inline-block; background: url('../img/icons/lock.png') no-repeat 0 0; }

.dev-btns                       { position: relative; display: block; }

.left-btn,
.right-btn                      { width: 22px; height: 22px; position: absolute; padding: 10px 16px 12px; display: inline-block; }
.left-btn                       { left: 0; top: 18px; background: url('../img/icons/home.png') no-repeat center center; }
.right-btn                      { right: 0; top: 18px; background: url('../img/icons/settings.png') no-repeat center center;  }

#nav-bar                        { width: 100%; height: 68px; min-height: 68px; max-height: 68px; position: fixed; top: 0; z-index: 1030; box-sizing: border-box; left: 0; padding: 20px 20px 0; background: rgba(0,0,0,.85); border-bottom: 1px solid #F34A0F; color: #F34A0F; font-size: 1.3em; }
.bottom-nav                     { position: fixed; bottom: 0; width: 100%; background-color: #262626; }
.bottom-nav button              { width: 49.84%; padding: 25px 16px; }
.bottom-nav button:active       { background: #C00600; color: #262626; }





/* -----------------------------------------------
// GLOBAL UTILITY CLASSES
// ---------------------------------------------*/
.view-padding                   { padding: 16px; }

/* list header */
header                          { padding: 10px 0; }
.list-header                    { color: #aaa; padding: 16px; }

/* hide stuff */
.hidden                         { display: none !important; }

/* Aignment */
.pull-right                     { float: right; }
.text-left                      { text-align: left; }
.text-right                     { text-align: right; }
.fixed-bottom                   { width: 100%; box-sizing: border-box; position: absolute; bottom: 0; left: 0; padding: 16px; }

/* mostly used in list items */
.fb-profile-picture             { margin-right: 10px; vertical-align: middle; border-radius: 100%; overflow: hidden; width: 50px; height: 50px; display: inline-block; }
.name                           { font-size: 3.5em; display: inline-block; vertical-align: middle; color: #fff; }

/* For iOS like scroll bounce */
.scrollpane                     { overflow-y: auto; -webkit-overflow-scrolling: touch; }

/* Input and checkboxes/circles */
input                           { border: 0; display: inline-block; width: 100%; font-family: solano-gothic-bd, arial, sans-serif; text-transform:uppercase; border: none; font-size: 35px; background: #FFF; color: #989898; text-align: left; padding: 10px 10px 2px; box-sizing: border-box; }
.check-bubble                   { width: 36px; height: 36px; margin-top: -18px; border-radius: 100%; border: 1px solid #FF4600; display: inline-block; position: absolute; right: 16px; top: 50%; }
.check-bubble.selected          { background: url('../img/icons/check.png') no-repeat center 9px; }

/* Sliders */
.ui-slider                      { width:80%; }
.ui-slider .ui-slider-range     { background: #FFF; }
.ui-slider .ui-slider-handle    { background: #FFF; border: 2px solid #404040; width:18px; height:18px; position:absolute; top: -4px; margin-left: -9px;
                                    -moz-border-radius: 9px;
                                    -webkit-border-radius: 9px;
                                    border-radius: 9px;
}



.roundabout-holder              { list-style: none; padding: 0; margin: 0; height: 60px; width: 100%; }
.roundabout-holder li           { padding: 0; overflow: hidden; }
.roundabout-holder li a         { font-size: 4em; }
.roundabout-moveable-item       { height: 4em; width: auto; cursor: pointer;  border: 1px solid #999; }
.roundabout-in-focus            { cursor: auto; }


.copied                         { display: none;
    background: green;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    font-size: 2em;
    text-align: center;

    top: 0;
    left: 0;

    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-direction: alternate;
}
.copied.flash                   { opacity: 1; display: block;

    }


@-webkit-keyframes fadeOut {
    100% { opacity: 1; }
    50% { opacity: .5; }
    0% { opacity: 0; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    50% { opacity: .5; }
    0% { opacity: 0; }
}